h1 {
  text-decoration: none;
  color: #ffd000;
  text-align: center;
  font-size: 3rem;
  text-shadow: 5px 5px 5px rgb(255, 255, 255);
  font-family: "Orbitron", sans-serif;
}
h2 {
  color: #008cff;
  text-align: center;
  font-size: 2rem;
  text-shadow: 1px 1px 3px #ffffff;
  font-family: "Oswald", sans-serif;
}
p,
footer, td {
  color: #000000;
  text-shadow: 1px 1px 3px #ffffff;
  font-size: 1.3rem;
}
td{
  text-shadow: none;
}
body {
  width: 90%;
  margin: 0 auto;
  /*background-image: url("https://images.pexels.com/photos/3532097/pexels-photo-3532097.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");*/
  background-repeat: no-repeat;
  background-color: #a8a8a8;
}
table {
  font-size: 1.2rem;
  border-collapse: collapse;
  margin: auto;
  color: #ffffff;
  width: 100%;
}
td {
  border: 5px double #2bff00;
  padding: 5px;
  background-color: #f3f2f2;
  text-align: center;
}

a {
  color: #ff3838;
}

footer {
  margin: 20px 0;
}

.align {
  text-align: center;
}

@media screen and (max-width: 768px) {
    table {
        font-size: 1rem;
    }
}
